version: "3.6"
services:
  mongodb-parse:
    command:
      - "/opt/bitnami/scripts/mongodb/run.sh"
    container_name: "authservice-mongodb-1"
    environment:
      - "MONGODB_USERNAME=bn_parse"
      - "MONGODB_DATABASE=bitnami_parse"
      - "MONGODB_PASSWORD=bitnami123"
      - "ALLOW_EMPTY_PASSWORD=yes"
      - "PATH=/opt/bitnami/mongodb/bin:/opt/bitnami/common/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
      - "BITNAMI_APP_NAME=mongodb"
    expose:
      - "27017/tcp"
    hostname: "mongodb"
    image: "docker.io/bitnami/mongodb:5.0"
    networks:
      - "kong-net"
    user: "1001"
    volumes:
      - authservice_mongodb_data:/bitnami/mongodb

  parse-dashboard:
    command:
      - "/opt/bitnami/scripts/parse-dashboard/run.sh"
    container_name: "authservice-parse-dashboard-1"
    entrypoint:
      - "/opt/bitnami/scripts/parse-dashboard/entrypoint.sh"
    environment:
      - "PARSE_DASHBOARD_PARSE_HOST=localhost"
      - "PATH=/opt/bitnami/python/bin:/opt/bitnami/node/bin:/opt/bitnami/parse-dashboard/bin:/opt/bitnami/common/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
      - "HOME=/"
      - "BITNAMI_APP_NAME=parse-dashboard"
      - "PARSE_DASHBOARD_PARSE_PROTOCOL=http"
    hostname: "91fd806dfc3e"
    image: "docker.io/bitnami/parse-dashboard:5"
    networks:
      - "kong-net"
    ports:
      - "80:4040/tcp"
    user: "1001"
    volumes:
      - authservice_parse_dashboard_data:/bitnami

  gil_psql:
    container_name: "gil_psql_sales"
    hostname: "sales_db"
    environment:
      - "POSTGRES_USER=admin"
      - "PGDATA=/var/lib/postgresql/data/pgdata"
      - "POSTGRES_PASSWORD=pass"
      - "PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/lib/postgresql/15/bin"
      - "GOSU_VERSION=1.16"
      - "LANG=en_US.utf8"
      - "PG_MAJOR=15"
      - "PG_VERSION=15.2-1.pgdg110+1"
      - "POSTGRES_DB=sales_api"
    expose:
      - "5432:5433/tcp"
    image: "postgres"
    networks:
      - "kong-net"
    volumes:
      - sales_data:/var/lib/postgresql/data

  entities-kong1:
    container_name: "entities-kong1"
    build: ./broth2/EGS/entities/
    environment:
      - "FLASK_APP=server"
      - "FLASK_ENV=production"
      - "PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
    hostname: "entities"
    image: "pedrolopes123/egs:entities"
    networks:
      - "kong-net"
    working_dir: "/app_cont"
    volumes:
      - entities_db_sqlite:/app_cont/db


  #######################################
  # Postgres: The database used by Kong
  #######################################
  kong-database:
    image: postgres:13
    hostname: 'kongdb'
    container_name: 'kongdb'
    restart: always
    networks:
      - kong-net
    environment:
      POSTGRES_USER: kong
      POSTGRES_PASSWORD: kongpass
      POSTGRES_DB: kong
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "kong"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - kong-database-data:/var/lib/postgresql/data

  #######################################
  # Kong database migration
  #######################################
  kong-migration:
    image: "kong/kong-gateway:3.2.1.0"
    command: "kong migrations bootstrap"
    hostname: 'kong-migation'
    container_name: 'kong-migration'
    networks:
      - kong-net
    restart: on-failure
    environment:
      KONG_PG_HOST: kongdb
      KONG_DATABASE: postgres
      KONG_PG_USER: kong
      KONG_PG_PASSWORD: kongpass
    links:
      - kong-database
    depends_on:
      kong-database:
        condition: service_healthy


  #######################################
  # Kong: The API Gateway
  #######################################
  kong:
    image: "kong/kong-gateway:3.2.1.0"
    restart: always
    networks:
      - kong-net
    hostname: 'kong'
    container_name: 'kong'
    environment:
      KONG_PG_HOST: kongdb
      KONG_PROXY_LISTEN: 0.0.0.0:8000
      KONG_PROXY_LISTEN_SSL: 0.0.0.0:8443
      KONG_PROXY_ACCESS_LOG: /dev/stdout
      KONG_ADMIN_GUI_URL: http://0.0.0.0:8002
      KONG_PROXY_ERROR_LOG: /dev/stderr
      KONG_ADMIN_ERROR_LOG: /dev/stderr
      KONG_ADMIN_LISTEN: 0.0.0.0:8001
      KONG_DATABASE: postgres
      KONG_PG_USER: kong
      KONG_PG_PASSWORD: kongpass
      KONG_ADMIN_ACCESS_LOG: /dev/stdout
      PATH: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
      KONG_VERSION: 
      KONG_PREFIX: /usr/local/kong
    depends_on:
      kong-migration:
        condition: service_completed_successfully
      kong-database:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://kong:8001"]
      interval: 5s
      timeout: 2s
      retries: 15
    ports:
      - "8000:8000/tcp"
      - "8001:8001/tcp"
      - "8002:8002/tcp"
      - "8003:8003/tcp"
      - "8004:8004/tcp"
      - "8443:8443/tcp"
      - "8444:8444/tcp"
      - "8445:8445/tcp"
    user: "kong"

  parse:
    command:
      - "/opt/bitnami/scripts/parse/run.sh"
    container_name: "parse"
    hostname: "parse"
    entrypoint:
      - "/opt/bitnami/scripts/parse/entrypoint.sh"
    environment:
      - "PARSE_DATABASE_NAME=bitnami_parse"
      - "PARSE_DATABASE_PASSWORD=bitnami123"
      - "PARSE_DATABASE_HOST=mongodb"
      - "PARSE_DATABASE_PORT_NUMBER=27017"
      - "PARSE_DATABASE_USER=bn_parse"
      - "PATH=/opt/bitnami/python/bin:/opt/bitnami/node/bin:/opt/bitnami/mongodb/bin:/opt/bitnami/parse/bin:/opt/bitnami/common/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
      - "HOME=/"
      - "OS_ARCH=amd64"
      - "OS_FLAVOUR=debian-11"
      - "OS_NAME=linux"
      - "APP_VERSION=5.4.2"
      - "BITNAMI_APP_NAME=parse"
    image: "docker.io/bitnami/parse:5"
    networks:
      - "kong-net"
    ports:
      - "1337:1337/tcp"
    user: "1001"
    volumes:
      - authservice_parse_data:/bitnami/parse
  payments:
    container_name: "payments"
    build: ./gil/mect-egs-payments/
    environment:
      - "PATH=/usr/local/openjdk-11/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
      - "JAVA_HOME=/usr/local/openjdk-11"
      - "LANG=C.UTF-8"
      - "JAVA_VERSION=11.0.16"
    hostname: "payments"
    image: "pedrolopes123/egs:payments"
    ipc: "private"
    logging:
      driver: "json-file"
      options: {}
    networks:
      - "kong-net"
    ports:
      - "8081:8081/tcp"

  produtos-kong-net:
    command:
      - "python3"
      - "app.py"
    container_name: "produtos-kong-net"
    build: ./broth2/EGS/products/
    environment:
      - "FLASK_APP=server"
      - "FLASK_ENV=production"
      - "FLASK_DEBUG=False"
      - "PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
    hostname: "prods1"
    image: "pedrolopes123/egs:produtos"
    ipc: "private"
    logging:
      driver: "json-file"
      options: {}
    networks:
      - "kong-net"
    working_dir: "/app_cont"
    volumes:
      - produtos_db_sqlite:/app_cont/db

  redis_db:
    command:
      - "redis-server"
    container_name: "redis_db"
    environment:
      - "PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
      - "GOSU_VERSION=1.16"
      - "REDIS_VERSION=7.0.10"
      - "REDIS_DOWNLOAD_URL=http://download.redis.io/releases/redis-7.0.10.tar.gz"
      - "REDIS_DOWNLOAD_SHA=1dee4c6487341cae7bd6432ff7590906522215a061fdef87c7d040a0cb600131"
    hostname: "redis_db"
    image: "redis"
    ipc: "private"
    logging:
      driver: "json-file"
      options: {}
    networks:
      - "kong-net"
    ports:
      - "6379:6379/tcp"
    stdin_open: true
    tty: true
    volumes:
      - redis_authservice:/data
    working_dir: "/data"

  sales:
    container_name: "sales"
    hostname: "sales"
    build: ./gil/mect-egs-sales/
    command: python /opt/app/manage.py runserver 0.0.0.0:8000
    environment:
      - "PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
      - "SECRET_KEY=your_secret_key_here"
      - "DEBUG=True"
      - "PAYMENTS_API_URL=http://payments:8081/payments"
      - "PRODUCTS_API_URL=http://prods1:8888/products/product"
      - "DATABASE_HOST=sales_db:5432"
    image: "pedrolopes123/egs:sales"
    depends_on:
      - gil_psql
    networks:
      - "kong-net"
    ports:
      - "4000:8000/tcp"
    working_dir: "/app_cont"

  authservice:
    container_name: "authservice"
    build: ./authservice-readable/
    environment:
      - "FLASK_APP=server"
      - "FLASK_ENV=production"
      - "PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
    hostname: "authservice"
    image: "pedrolopes123/egs:authservice"
    networks:
      - "kong-net"
    ports:
      - "5000:5000/tcp"
    working_dir: "/app_cont"

networks:
  kong-net:
    driver: "bridge"
    enable_ipv6: false
    internal: false
    name: "kong-net"

volumes:
  kong-database-data:
    name: kong-db-data

  authservice_mongodb_data:
    name: authservice_mongodb_data

  sales_data:
    name: sales_data

  redis_authservice:
    name: redis_authservice

  produtos_db_sqlite:
    name: produtos_db_sqlite

  entities_db_sqlite:
    name: entities_db_sqlite
  authservice_parse_dashboard_data:
    name: authservice_parse_dashboard_data
  authservice_parse_data:
    name: authservice_parse_data
